##### Timezone
TZ=Europe/Berlin

# Options
POWER_SPLITTER_INTERVAL=3600

# Date of installation of the PV system (when the first yield was achieved)
INSTALLATION_DATE=2020-11-27

##### PostgreSQL credentials
DB_HOST=postgresql
DB_PASSWORD=my-secret-db-password
DB_USER=postgres

##### Redis URL
REDIS_URL=redis://redis:6379/1

##### InfluxDB credentials
INFLUX_HOST=localhost
INFLUX_SCHEMA=http
INFLUX_PORT=8086
INFLUX_TOKEN=my-token # With permissions to read AND write to the bucket
INFLUX_ORG=my-org
INFLUX_BUCKET=my-bucket

#### Sensor mapping: Map to Measurement/Field in InfluxDB

# Grid import
INFLUX_SENSOR_GRID_IMPORT_POWER=SENEC:grid_power_plus

# Consumers
INFLUX_SENSOR_HOUSE_POWER=SENEC:house_power
INFLUX_SENSOR_WALLBOX_POWER=SENEC:wallbox_charge_power
INFLUX_SENSOR_HEATPUMP_POWER=Heatpump:power
INFLUX_SENSOR_CUSTOM_POWER_01=Washer:power
INFLUX_SENSOR_CUSTOM_POWER_02=Pool:power
INFLUX_SENSOR_CUSTOM_POWER_03=
INFLUX_SENSOR_CUSTOM_POWER_04=
INFLUX_SENSOR_CUSTOM_POWER_05=
INFLUX_SENSOR_CUSTOM_POWER_06=
INFLUX_SENSOR_CUSTOM_POWER_07=
INFLUX_SENSOR_CUSTOM_POWER_08=
INFLUX_SENSOR_CUSTOM_POWER_09=
INFLUX_SENSOR_CUSTOM_POWER_10=
INFLUX_SENSOR_CUSTOM_POWER_11=
INFLUX_SENSOR_CUSTOM_POWER_12=
INFLUX_SENSOR_CUSTOM_POWER_13=
INFLUX_SENSOR_CUSTOM_POWER_14=
INFLUX_SENSOR_CUSTOM_POWER_15=
INFLUX_SENSOR_CUSTOM_POWER_16=
INFLUX_SENSOR_CUSTOM_POWER_17=
INFLUX_SENSOR_CUSTOM_POWER_18=
INFLUX_SENSOR_CUSTOM_POWER_19=
INFLUX_SENSOR_CUSTOM_POWER_20=

# Battery
INFLUX_SENSOR_BATTERY_CHARGING_POWER=SENEC:bat_power_plus

# Optional: Exclude sensors from house power calculation
INFLUX_EXCLUDE_FROM_HOUSE_POWER=HEATPUMP_POWER,CUSTOM_POWER_02
